{% if slides|length %}

  {% set shortestImage = craft.assets.relatedTo(slides).order('height asc').first %}

  <div class="slideshow">

    <div class="slideshow-slides">
      {% for slide in slides %}
        <div class="slide">
          {% include '_includes/slide/' ~ slide.type %}
        </div>
      {% endfor %}
    </div>

    {% if slides|length > 1 %}
      <div class="slideshow-controls">
        <div class="slideshow-caption">1 of {{ slides|length }}</div>
        <a href="" class="slideshow-prev">Previous</a> / <a href="" class="slideshow-next">Next</a>
      </div>
    {% endif %}

  </div>

{% endif %}
