* {
  box-sizing: border-box;
}

.main {
  .clearfix();
}

@media @breakDesktop {
  html, body {
    height: 100%;
  }

  .sidebar {
    width: 280px;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .main {
    min-height: 100%;
    margin-left: 280px;
  }
}
