@import 'reset.less';
@import 'variables.less';
@import 'start.less';
@import 'layout.less';


// ------------------------------------------------------------------------


@font-face {
  font-family: 'Crimson Text';
  src: url('../font/crimsontext-regular-webfont.eot');
  src: url('../font/crimsontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/crimsontext-regular-webfont.woff2') format('woff2'),
       url('../font/crimsontext-regular-webfont.woff') format('woff'),
       url('../font/crimsontext-regular-webfont.ttf') format('truetype'),
       url('../font/crimsontext-regular-webfont.svg#crimson_textroman') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../font/crimsontext-semibold-webfont.eot');
  src: url('../font/crimsontext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/crimsontext-semibold-webfont.woff2') format('woff2'),
       url('../font/crimsontext-semibold-webfont.woff') format('woff'),
       url('../font/crimsontext-semibold-webfont.ttf') format('truetype'),
       url('../font/crimsontext-semibold-webfont.svg#crimson_textsemibold') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../font/crimsontext-bold-webfont.eot');
  src: url('../font/crimsontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/crimsontext-bold-webfont.woff2') format('woff2'),
       url('../font/crimsontext-bold-webfont.woff') format('woff'),
       url('../font/crimsontext-bold-webfont.ttf') format('truetype'),
       url('../font/crimsontext-bold-webfont.svg#crimson_textbold') format('svg');
  font-weight: 700;
}


// ------------------------------------------------------------------------


body {
  color: mix(black, white, 80%);
  font: 16px/23px 'Crimson Text', serif;
  -webkit-text-size-adjust: none;
}

p + p {
  margin-top: 15px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .2s;

  &:hover, &.active {
    color: @brandColor;
  }

  .slide-text &, .slide-caption & {
    text-decoration: underline;
  }
}

html {
  user-select: none;
}
.title, .menu, .slide-text, .slide-caption,
.slideshow-prev, .slideshow-next, .slideshow-caption {
  user-select: text;
}
::selection {
  background-color: @brandColor;
  color: white;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}


// ------------------------------------------------------------------------


.sidebar {
  padding: 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
}

.subtitle {
  font-weight: 700;
}

.menu-work, .menu-info {
  margin-top: 23px;
}

.menu-work {
  ul {
    margin-bottom: 15px;
  }
}

.menu-info, .slideshow-caption {
  font-size: 13px;
  line-height: 18px;
}

@media @breakDesktop {
  .sidebar {
    padding: 30px;
    padding-right: 0;
  }

  .menu-work, .menu-info {
    margin-top: 46px;
  }
}


// ------------------------------------------------------------------------


.slide-image {
  background-size: contain;
  background-repeat: no-repeat;
}

.slideshow-caption {
  margin-bottom: 4px;
}

@media @breakMobile {
  .slide {
    margin: 20px;
  }

  .slide-caption {
    margin-top: 15px;
  }

  .slideshow-controls {
    display: none;
  }
}

@media @breakDesktop {
  .slideshow-slides {
    .clearfix();
    min-height: 400px;
    position: relative;
  }

  .slide {
    .clearfix();
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  .slide-image {
    .js & {
      padding-top: 0 !important;
    }
  }

  .slide-caption {
    padding-top: 15px;
  }

  .slideshow-controls {
    display: block;
    padding: 0 30px 30px;
  }

  .slide-text, .slide-caption {
    max-width: 600px;
  }
}
