{% set image = slide.image.first -%}

{% set transform = { mode: 'fit', width: 1280, height: shortestImage.height } %}
{% set url = image.getUrl(transform) %}
{% set width = image.getWidth(transform) %}
{% set height = image.getHeight(transform) %}

<div class="slide-image slide-image-{{ image.id }}" data-width="{{ width }}" data-height="{{ height }}"></div>

{% if slide.caption %}
  <div class="slide-caption">
    {{ slide.caption }}
  </div>
{% endif %}

{% set css %}
  .slide-image-{{ image.id }} {
    background-image: url({{ url }});
    padding-top: {{ (height / width) * 100 }}%;
  }
{% endset %}

{% includeCss css %}
