{% header "X-UA-Compatible: IE=edge,chrome=1" -%}
<!DOCTYPE html>
<html lang="{{ craft.locale }}" class="no-js">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set siteTitle = settings.siteTitle|default(siteName) %}
  {% set pageTitle = pageTitle|default(entry.title|default(siteName)) %}
  {% set pageDescription = pageDescription|default(entry.pageDescription|default(settings.siteDescription)) %}

  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">

  {% block openGraph %}
    <meta property="og:site_name" content="{{ siteTitle }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ craft.request.url }}">
    {% if entry is defined and entry.pageImage|length %}
      <meta property="og:image" content="{{ entry.pageImage.first.getUrl({ width: 1200 }) }}">
    {% elseif settings.siteImage|length %}
      <meta property="og:image" content="{{ settings.siteImage.first.getUrl({ width: 1200 }) }}">
    {% endif %}
  {% endblock %}

  {% block twitterCard %}
    {% if contact.twitterUsername %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@{{ contact.twitterUsername }}">
      <meta name="twitter:title" content="{{ pageTitle }}">
      <meta name="twitter:description" content="{{ pageDescription }}">
      {% if entry is defined and entry.pageImage|length %}
        <meta property="twitter:image" content="{{ entry.pageImage.first.getUrl({ width: 1200 }) }}">
      {% elseif settings.siteImage|length %}
        <meta property="twitter:image" content="{{ settings.siteImage.first.getUrl({ width: 1200 }) }}">
      {% endif %}
    {% endif %}
  {% endblock %}

  <link rel="stylesheet" href="/assets/css/style.css?v=2">

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  {{ getHeadHtml() }}

  <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script><![endif]-->

  {% if settings.googleAnalyticsTrackingId and not craft.request.isLivePreview and not craft.config.devMode %}
    <script>!function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","{{ settings.googleAnalyticsTrackingId }}","auto"),ga("send","pageview");</script>
  {% endif %}

  {{ settings.headInject }}
  {% if settings.customCss %}
    <style>
      {{ settings.customCss }}
    </style>
  {% endif %}
</head>
<body>

  <div class="sidebar">
    <h1 class="title"><a href="/">{{ siteTitle }}</a></h1>
    <nav class="menu">

      <ul class="menu-work">
        {% for group in nav.projectNav if group.projects|length %}
          <li>
            <h3 class="subtitle">{{ group.heading }}</h3>
            <ul>
              {% for project in group.projects %}
                <li><a href="{{ project.url }}" {{ project.id == entry.id ? 'class="active"' : '' }}>{{ project.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>

      {% set singles = craft.entries.id([11, 12]).fixedOrder(true) %}

      {% if singles.length or settings.copyright %}
        <ul class="menu-info">
          {% for single in singles %}
            <li><a href="{{ single.url }}" {{ single.id == entry.id ? 'class="active"' : '' }}>{{ single.title }}</a></li>
          {% endfor -%}
          <li>{{ settings.copyright|replace('%year%', now.year) }}</li>
        </ul>
      {% endif -%}

    </nav>
  </div>

  <div class="main">
    {% block content %}{% endblock %}
  </div>

  {{ getFootHtml() -}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.min.js"></script>
  <script src="/assets/js/min/script-min.js"></script>
  {{ settings.bodyInject }}

  <!--[if lt IE 8]><div id="ltIE8"><p id="ltIE8msg">You are using an outdated browser. Please <a href="http://browsehappy.com/?locale=en" target="_blank" id="ltIE8a">upgrade your browser</a> to view this website and improve your experience.</p></div><style>#ltIE8{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#ffffff;z-index:1000;}#ltIE8msg{padding:20px;color:#444444;font-size:16px;line-height:20px;font-family:Arial;}#ltIE8a{color:#4169E1;text-decoration:underline;}* html #ltIE8{position:absolute;left:expression((0+(ignoreMe2=document.documentElement.scrollLeft?document.documentElement.scrollLeft:document.body.scrollLeft))+'px');top:expression((0+(ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop))+'px');</style><![endif]-->
</body>
</html>
